Name: 
Writing a Statement
Author:
Janik Eriksson
Parameter:
operation("addition", "substraction", "multiplication", "division", "modulo") requires operator("+", "-", "*", "/", "%")
operation("modulo") requires type("int")
type("int", "double")
type("int") requires input(["17,5", "3,2", "8,3", "14,3", "17,7"])
type("double") requires input(["7.5,5.0", "3.4,2.2", "8.0,3.7", "14.0,3.0", "17.1,7.2"])
Task:
Complete the given function so that its “result” is defined as {{ type }} and returns the {{ operation }} of the two
parameters passed to the function by value.
Solution:
auto {{ operation }}({{ type }} m, {{ type }} n)
{
    {{ type }} result = m {{ operator }} n;
    return result;
}
PreAllocation:
auto {{ operation }} ({{ type }} m, {{ type }} n)
{
    //Input your code here
    return result;
}
Tests: {- This is a comment -}
Code:
if({{ operation }}({{ input }}) == Solution::{{ operation }}({{ input }})) {
    cout << "true";
}
Outcome:
true