Parameter:
numeral([("I", "1"), ("V", "5")]) 
choices("if(numeral=='{{ numeral.get(0) }}') return {{ numeral.get(1) }};")
Task:
Complete the given code so that it returns the number corresponding to the roman numeral. Roman numeral to number ({I,1};{V,5};{X,10};{L,50};{C,100};{D,500};{M,1000})
Solution:
int solution(char numeral){
    {{choices.all()}}
}
PreAllocation:
int NumeralToNumber(char numeral){
    {{choices.choose_at_random(4)}}
}
Tests:
cout << NumeralToNumber('I');
Expected Outcome: 1
cout << NumeralToNumber('V');
Expected Outcome: 5
cout << NumeralToNumber('X');
Expected Outcome: 10