Name:
Errors in the code
Author:
Janik Eriksson
Parameter:
type("int", "double", "float")
input(["2,2,2", "3,3,3", "3,2,4"])
firstWrong("3 * a", "a * b")
secondWrong("+ c", "* a")
thirdWrong("* 5", "+ c")
Task:
The shown functions are written based on the following specifications: 
    - The function and variables are of type {{ type }}.
    - Firstly, the variable a is multiplied by 2 and assigned to temp.
    - Secondly, b is subtracted from temp.
    - Thirdly, temp is multiplied by c.
There are errors in the code. Find and correct them errors.
Solution:
{{ type }} solution({{type}} a, {{type}} b, {{type}} c){
    {{type}} temp;
    temp = 2 * a;
    temp = temp - b;
    temp = temp * c;
    return temp;
}
PreAllocation:
{{ type }} function({{type}} a, {{type}} b, {{type}} c){
    {{type}} temp;
    temp = {{ firstWrong }};
    temp = temp {{ secondWrong }};
    temp = temp {{ thirdWrong }};
    return temp;
}
Tests:
Code:
if(function({{input}}) == Solution::solution({{input}})){
    cout << "true";
}
Outcome:
true